fieldset
    {
        width: 50%;
        margin-left: 25%;
        height: auto;
    }
legend 
    {
    background-color: #f0a33f;
    color: #fff;
    padding: 3px 6px;
    border: 1px solid black;
    }
   
    /*
label
    {
        float: right;
    }
    
body 
    {
    text-align: center;
    }
form 
    {
    width: 83%;
    }
#lnl1
    {
        margin-left: 12%;
    }
#lnl2
    {
        margin-left: 6%;
    }
#lnl3
    {
        margin-left: -7%;
    }
#lnl4
    {
        margin-left: -3%;
    }
#lnl5
    {
        margin-left: -5%;
    }
#lnl6
    {
        margin-left: -18%;
    }
#lnl7
    {
        margin-left: 3%;
    }
    
#lnl8
    {
        margin-left: 6%;
    }